<div class="container">

<h1 class="text-center">Fancy Cocktails</h1>

<div class="card">
<% @cocktails.each do |cocktail| %>
  <div class="card-trip">
      <%= cl_image_tag cocktail.photo.key, height: 160, width: 160, class: "image" %>
    <div class="card-trip-infos">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <%= link_to cocktail_path(cocktail), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
    </div>
  </div>
<% end %>
</div>

