<div class="container">

<h1 class="text-center">Fancy Cocktails</h1>

<div class="card">
<% @cocktails.each do |cocktail| %>
  <div class="card-trip">
    <img src="https://source.unsplash.com/160x160/?cocktail" />
    <div class="card-trip-infos">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  </div>
<% end %>
</div>

