.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #17706e;
  border: none !important;
  margin: auto;
  grid-template-rows: 100vh;
}

@media (min-width: 669px) {
  .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-trip {
  overflow: hidden;
  background: #f7f7ee;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;
  width: 160px;
  height: 200px;
  border-radius: 3px;
}

.card-trip-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 0 0;
  .far {
    padding: 0 3px;
  }
}

.card-new {
  padding: 30px 20px;
  border-radius: 5px;
}
